{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="{% block nav_classes %}navbar navbar-expand-lg navbar-dark bg-dark{% endblock %}">
    {% block navbar_toggler %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% endblock %}

    {% block navbar_basket %}
    <a class="btn btn-secondary float-right btn-cart ml-auto d-inline-block d-md-none"
        href="{% url 'basket:summary' %}">
        <i class="fas fa-shopping-cart"></i>
        {% trans "Basket" %}
        {% if not request.basket.is_empty %}
        {% if request.basket.is_tax_known %}
        {% blocktrans with total=request.basket.total_incl_tax|currency:request.basket.currency %}
        Total: {{ total }}
        {% endblocktrans %}
        {% else %}
        {% blocktrans with total=request.basket.total_excl_tax|currency:request.basket.currency %}
        Total: {{ total }}
        {% endblocktrans %}
        {% endif %}
        {% endif %}
    </a>
    {% endblock %}

    {% block navbar_collapse %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block nav_extra %}
        {% include "partials/search.html" %}
        {% endblock %}
    </div>
    {% endblock %}
</nav>