{% extends "base.html" %}
{% load static %}

{% block layout %}
{% include "partials/nav_accounts.html" %}


<header class="header container">
    <br>
    {% block navigation %}
    {% include "partials/nav_primary.html" %}
    {% endblock %}
</header>

{% block content_wrapper %}
<div class="container page">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}

        {% block header %}
        <div class="page-header">
            <h1>{% block headertext %}{% endblock %}</h1>
        </div>
        {% endblock %}

        {% include "oscar/partials/alert_messages.html" %}
        {% block subnavigation %}{% endblock %}

        <div class="content">
            {% block subheader %}{% endblock subheader %}

            <div class="{% block content_layout_class %}blog-layout{% endblock %}">
                <main class="blog-layout__main" id="content_inner">
                    {% block content %}{% endblock %}
                </main>

                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}


{% block extrascripts %}
    {{ block.super }}

    {# jQuery plugins #}
    <script src="{% static 'oscar/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'oscar/js/tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}

    var options = {
        entity_encoding: 'raw',
        statusbar: false,
        menubar: false,
        convert_urls: false,
        plugins: "link lists",
        style_formats: [
            {title: 'Text', block: 'p'},
            {title: 'Heading', block: 'h2'},
            {title: 'Subheading', block: 'h3'}
        ],
        toolbar: "styles | bold italic blockquote | bullist numlist | link"
    }
    var $textareas = $(window.document).find('textarea').not('.no-widget-init textarea').not('.no-widget-init');
    $textareas.filter('form.wysiwyg textarea').tinymce(options);
    $textareas.filter('.wysiwyg').tinymce(options);
{% endblock %}

            
