{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
Delete Post | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboards:post-list' %}">{% trans "Posts" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboards:post-edit' pk=post.pk %}">{{ post.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Delete Post" %}</li>
    </ol>
</nav>
{% endblock %}

{% block headertext %}{% trans "Delete Post" %}{% endblock %}

{% block dashboard_content %}
<div class="table-header">
    <h2>{% trans "Delete Post" %}</h2>
</div>
<form id="delete_product_form" method="post" class="card card-body bg-light">
    {% csrf_token %}

    <p>
        {% blocktrans with title=post.title %}
        Delete post <strong>{{ title }}</strong> - are you sure?
        {% endblocktrans %}
    </p>

    <div class="form-actions">
        <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">
            {% trans "Delete" %}
        </button>
        {% trans "or" %}
        <a href="{% url 'dashboards:post-list' %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock %}